<!-- Return to Top -->
<a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>

<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#"><h1>&lt; {{ .Site.Title }} &#47;&gt;</h1></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav ml-auto">
            {{ $current := . }}
            {{ range .Site.Menus.main }}
            <li class="nav-item {{ if or (in $current .Identifier) ($current.IsMenuCurrent "main" .) }}active{{ end }}">
                <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
            </li>
            {{ end }}
        </ul>
        {{ if or (in $current "blog") (in $current "search") }}
        <form class="search-box" method="GET" action="/search">
            <div class="input-group">
                <input type="text" class="form-control" id="search-input" name="q" placeholder="Cari artikel..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-secondary" id="btn-search"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
        {{ end }}
    </div>
</nav>